<%= render partial: "shared/navbar" %>
<div class="profile-summary-form">
  <h1>Profile Summary</h1>
  <%= form_for @summary, url: { action: "create_report" } do |f| %>
    <%= f.text_area :content, readonly: "readonly", id: "profile-summary" %>
    <%= f.submit "Analyze" %>
  <% end %>
</div>
