<%= render partial: 'shared/navbar' %>
<div class="welcome-page">
  <div class="welcome-content text-center">
    <h1>Welcome to WriteLink</h1>
    <h2>Personalized Content Analysis</h2>
    <h2>You use LinkedIn to connect to to the professional world. <br>
      Use WriteLink to analyze your writing and improve the way you present your professional self.
    </h2>
  </div>
</div>
