<%= render partial: 'navbar' %>
<div class="welcome-page">
  <div class="welcome-content text-center">
    <h1>Personalized Analysis for Powerful Writing.</h1>
    <p>You use LinkedIn to connect to to the professional world. <br>
      Use WriteLink to analyze your writing and improve the way you present your professional self.
    </p>
    <%= link_to "Log In with LinkedIn", linkedin_login_path, class: "btn btn-default btn-lg"%>
  </div>
</div>
