.background {
  background-color:#DBDBDB;
  height: 100vh;
}

.welcome-content {
  font-family: 'Work Sans', sans-serif;
  color: white;
}

// ==================
// Navbar
.nav-text {
  font-family: 'Work Sans', sans-serif;
}

a.nav-text:visited {
  font-family: 'Work Sans', sans-serif;
  color: white;
  text-decoration: none;
}
