.background {
  // background-color:#3C0991;
  background-color:#3B338F;
}

// .welcome-page {
//   background-color: #4C0C7C
// }

.welcome-content {
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.nav-text {
  font-family: 'Work Sans', sans-serif;
  color: white;
}

// make clicked link in navbar remain white
